body {
    font-family: Arial, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#cat-title {
    font-size: 2em;
    color: #333;
}

#cat-description {
    font-size: 1.2em;
    color: #666;
    text-align: center;
}
